<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Awesome register</title>
</head>
<body>
  <nav id="nav">
      <h1>Awesome main  page</h1>
      <ul>
          <li><a href="/index">User list</a></li>
          <li><a href="/register">Registration </a></li>
          <li><a href="/logout">Logout</a></li>
      </ul>

      
  </nav>
    <div class="container">
        
        <h2>List of users</h2>
        <div class="user-list">
            

             {{#each user}}
             
            <div class="user">
                
                <tr><td>{{this.name}}</td>
                <td>{{this.login}}</td></tr>
            </div>
            {{/each}}
        </div>
         
    </div>
</body>
</html>